*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
}

div{
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 30px 0;
}

header{
    height: 50vh;
    background-image: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%);
}

.contenedor-head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    color: seashell;
}

.menu{
    z-index: 10;
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.548);
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to left, rgb(250, 133, 168) 0%, rgb(253, 229, 89) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(-110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: seashell;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}

/*Inicio*/

.clases{
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
    color: #fa709a;
    margin-bottom: 20px;
    font-size: 2em;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #fa709a;
    margin-bottom: 40px;
    font-size: 2em;
}

.contenedor-inicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-inicio img{
    width: 40%;
}

.lista-beneficios{
    width: 45%;
    float: right;
    font-size: 20px;
    margin-top: -5%;
}

.beneficios{
    margin-bottom: 20px;
}

.lista{
    margin-bottom: 7px;
    color: #fa709a;
}

.punto{
    display: inline-block;
    background-image: linear-gradient(to right, rgba(250, 112, 153, 0.562) 0%, rgba(254, 225, 64, 0.521) 100%);
    width: 10px;
    height: 10px;
    color: seashell;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 10px;
}

.solicitud-inscripcion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Galería*/

.contenedor-galeria{
    background: #f2f2f2;
}

.imagenes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, .5) 0 0 6px;
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease-in-out;
}

.show{
    /* pointer-events: auto; */
    display: flex;
    opacity: 1;
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    cursor: pointer;
}

.showImage{
    transform: scale(1);
}

/* Ubicación */

.svg-ubicacion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.calle{
    display: flex;
    justify-content: right;
    align-items: right;
    flex-wrap: wrap;
    margin-top: -60px;
}

/* Footer */

footer{
    background: #fa709a;
    padding-bottom: 0.1px;
}

.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-us{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    color: seashell;
}

.brand{
    font-size: 40px;
}

#inscription{
    width: fit-content;
    margin-top: 5px;
    background: none;
    border: none;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    color: seashell;
}

#inscription:hover{
    color: #fee140;
    cursor: pointer;
}

.social-media{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid seashell;
    border-radius: 50%;
    text-align: center;
    color: seashell;
}

.social-media-icon:hover{
    background: seashell;
    color: #fa709a;
}

.social-media-icon i{
    font-size: 20px;
    line-height: 40px;
}

.contenedor-formulario{
    opacity: 0;
    text-align: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.formulario{
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    text-align: center;
    width: 40%;
    height:100%;
    background-image: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%);
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    overflow-y: scroll;
    scrollbar-width: thin;
}

.showForm{
    opacity: 1;
    display: flex;
}

.contactanos{
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: seashell;
    font-size: 30px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="number"],
.formulario input[type="tel"]{
    border: 0;
    background: none;
    display: block;
    margin: 12px auto;
    padding: 13px 10px;
    border: 2px solid rgba(255, 245, 238, 0.692);
    width: 230px;
    outline: none;
    color: seashell;
    border-radius: 25px;
    transition: 0.25s;
}

#mensaje{
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 0;
    background: rgba(255, 245, 238, 0.548);
    border: 2px solid rgba(255, 245, 238, 0.692);
    outline: none;
    color: gray;
    border-radius: 5px;
    transition: 0.25s;
}


.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario input[type="number"]:focus,
.formulario input[type="tel"]:focus{
    width: 250px;
    border-color: seashell;
}

.radio{
    font-size: 20px;
    color: seashell;
    flex-direction: row;
    margin: 5px;
    padding: 0;
}

.info{
    margin: 10px;
    color: seashell;
    font-size: 20px;
}

.formulario button[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    padding: 13px 10px;
    border: 2px solid rgba(255, 245, 238, 0.692);
    width: 100px;
    outline: none;
    color: seashell;
    border-radius: 25px;
    transition: 0.25s;
}

.formulario button[type="submit"]:hover{
    color: #fa709a;
    background: seashell;
    width: 120px;
    cursor: pointer;
    
}

/* Adaptación a dispositivo móvil 500px*/

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .contenedor-head{
        font-size: 1.5em;
    }

    .contenedor-inicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .lista-beneficios{
        width: 80%;
        padding: 0;
    }

    .solicitud-inscripcion{
        padding-bottom: 10px;
        padding-top: 0;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .subtitulo{
        padding-top: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .svg-ubicacion img{
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 10px;
        width: 50%;
    }

    iframe{
        width: 70%;
    }

    .calle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -60px;
    }

    .footer-content{
        text-align: center;
        justify-content: center;
    }
    
    .contact-us{
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    
    .brand{
        font-size: 30px;
    }
    
    .inscripcion{
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 25px;
    }

    .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* Adaptación a dispositivo móvil 300px */

@media screen and (max-width: 500px){
    header{
        height: 40vh;
    }
    
    .contenedor-head{
        font-size: 20px;
    }
    
    .menu-navegacion{
        width: 65vw;
    }
    
    /*Inicio*/
    
    .clases{
        font-size: 20px;
    }
    
    .subtitulo{
        font-size: 20px;
    }
    
    .contenedor-inicio img{
        width: 100%;
        margin: 0;
    }
    
    .lista-beneficios{
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    
    .solicitud-inscripcion{
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    
    /* Galería*/
    
    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 95%;
    }
    
    /* Ubicación */
    
    .svg-ubicacion img{
        width: 80%;
    }

    iframe{
        width: 95%;
    }
}